<%- if @provider.not.new_record? -%>
  <fieldset>
    <%= f.label :hourly_rate, t('hourly_rate') %> <%= f.text_field :hourly_rate %> <br />
  </fieldset>
<%- end -%>

<fieldset>
  <%= f.label :company_name, t("business_name") %> <%= f.text_field :company_name %> <br />
  
  <div class="info">
    <h4><%= t('business_address') %></h4>
    <p><%= t('info_business_address') %></p>
  </div>
  <%= f.label :street_address, t("provider.street_address") %> <%= f.text_field :street_address %><br />
  <%= f.text_field :further_street_address %> <br />
  <%= f.label :city, t("provider.city") %> <%= f.text_field :city %> <br />
  <%= f.label :state_province, t("provider.state") %> <%= f.select :state_province, ([[t('provider.outside_us'), "NA"]] + State::NAMES), :include_blank => true %> <br />
  <%= f.label :postal_code, t("provider.postal_code") %> <%= f.text_field :postal_code %> <br />
  <%= f.label :country, t('provider.country') %> <%= f.localized_country_select :country, [:US, :CA, :FR, :DE,  :IE, :ES, :GB], :include_blank => t('provider.choose_country') %> <br />
  <%= f.label :company_url, "#{t("website")} <em>(#{t('optional')})</em>" %> <%= f.text_field :company_url %> <br />
  
</fieldset>