<fieldset>
  <%= f.label :company_name, t("provider.company_name") %> <%= f.text_field :company_name %> <br />
  
  <div class="info">
    <h5>Business Address</h5>
    <p>Your business location is needed to allow potential customers to search for you by your location.</p>
  </div>
  <%= f.label :street_address, t("provider.street_address") %> <%= f.text_field :street_address %> <br />
  <label></label><%= f.text_field :further_street_address %> <br />
  <%= f.label :city, t("provider.city") %> <%= f.text_field :city %> <br />
  <%= f.label :state_province, t("provider.state") %> <%= f.select :state_province, ([[t('provider.outside_us'), "NA"]] + State::NAMES), :include_blank => true %> <br />
  <%= f.label :postal_code, t("provider.postal_code") %> <%= f.text_field :postal_code %> <br />
  <%= f.label :country, t('provider.country') %> <%= f.localized_country_select :country, [:US, :CA, :FR, :DE,  :IE, :ES, :GB], :include_blank => t('provider.choose_country') %> <br />
  <%= f.label :email, t("provider.email") %> <%= f.text_field :email %> <br />
  <%= f.label :company_url, t("provider.company_url") %> <%= f.text_field :company_url %> <br />
  <%= f.label :logo, t('provider.logo') %><%= f.file_field :logo %><br/>
  <%- if @provider.not.new_record? and @provider.logo_file_name.not.blank? -%>
  <%= image_tag(@provider.logo.url(:thumb)) %>
<%- end -%>

  <h3><%= t('provider.accepted_projects') %></h3>
  <%= f.label :hourly_rate, t("provider.hourly_rate") %>
  &#36;<%= f.text_field :hourly_rate, :class => 'number' %><br />
  <%= f.label :min_budget, t("provider.min_budget") %>
  &#36;<%= f.text_field :min_budget, :class => 'number' %><br />
  <%= f.label :min_hours, t("provider.min_hours") %>
  <%= f.text_field :min_hours, :class => 'number' %><br />
  <%= f.label :max_hours, t("provider.max_hours") %>
  <%= f.text_field :max_hours, :class => 'number' %><br />

</fieldset>