<fieldset>
  <%= f.label :company_name, t("provider.company_name") %> <%= f.text_field :company_name %> <br />
  <%= f.label :marketing_description, "#{t("provider.marketing_description")}<br/><em>#{t("provider.marketing_description_limit")}</em><br/><span class='charCount'><em class=\"number\">#{300 - (@provider.marketing_description ? @provider.marketing_description.size : 0)}</em> #{t('provider.remaining')}</span>" %> <%= f.text_area :marketing_description, :'data-count' => 300  %> <br />
  <%= f.label :street_address, t("provider.street_address") %> <%= f.text_field :street_address %> <br />
  <label></label><%= f.text_field :further_street_address %> <br />
  <%= f.label :city, t("provider.city") %> <%= f.text_field :city %> <br />
  <%= f.label :state_province, t("provider.state") %> <%= f.select :state_province, ([[t('provider.outside_us'), "NA"]] + State::NAMES), :include_blank => true %> <br />
  <%= f.label :postal_code, t("provider.postal_code") %> <%= f.text_field :postal_code %> <br />
  <%= f.label :country, t('provider.country') %> <%= f.localized_country_select :country, [:US, :CA, :FR, :DE,  :IE, :ES, :GB], :include_blank => t('provider.choose_country') %> <br />
  <%= f.label :phone_number, t("provider.phone_number") %> <%= f.text_field :phone_number %> <br />
  <%= f.label :email, t("provider.email") %> <%= f.text_field :email %> <br />
  <%= f.label :company_url, t("provider.company_url") %> <%= f.text_field :company_url %> <br />
  <%= f.label :logo, t('provider.logo') %><%= f.file_field :logo %><br/>
  <%- if @provider.not.new_record? and @provider.logo_file_name.not.blank? -%>
  <%= image_tag(@provider.logo.url(:thumb)) %>
<%- end -%>

  <h3><%= t('provider.accepted_projects') %></h3>
  <%= f.label :hourly_rate, t("provider.hourly_rate") %>
  &#36;<%= f.text_field :hourly_rate, :class => 'number' %><br />
  <%= f.label :min_budget, t("provider.min_budget") %>
  &#36;<%= f.text_field :min_budget, :class => 'number' %><br />
  <%= f.label :min_hours, t("provider.min_hours") %>
  <%= f.text_field :min_hours, :class => 'number' %><br />
  <%= f.label :max_hours, t("provider.max_hours") %>
  <%= f.text_field :max_hours, :class => 'number' %><br />

  <h3><%= t('provider.services') %></h3>

  <%- setup_services(@provider) -%>
  <%- @provider.provided_services.group_by(&:category).each do |category, services| -%>
    <div class="service_category"><%= category.name %></div>
    <%- services.each do |service| %>
      <%- f.fields_for :provided_services, service do |ps| -%>
        <%- if ps.object.category == category -%>
          <div>
            <%= ps.hidden_field :service_id %>
            <%= ps.label :_delete, ps.object.name %>
            <%-
              # This is horrible, ideally we'd implement:
              # accept_nested_attributes_for ... :allow_destroy => :keep
              # offering the reverse of the _delete behaviour,
              # in order to avoid having to delve around in params manually here.
              checked = begin
                ps.object.not.new_record? or
                  params[:provider][:provided_services_attributes].find { |k, v|
                    v[:service_id] == service.service_id.to_s
                  }[1][:_delete] == 'false'
              rescue
                false
              end
            -%>
            <%= ps.check_box :_delete, { :checked => checked, :class => 'service' }, 'false', 'true' %>
            <%- if category.proficiency? -%>
              <%- (1..3).each do |level| -%>
                <%= ps.radio_button :proficiency, level %>
                <%= ps.label "proficiency_#{level}", t("service.proficiency_#{level}") %>
                <%= ps.label "proficiency_#{level}",
                             "#{category.name} #{ps.object.name} #{t("service.proficiency_#{level}")}",
                             :class => 'testability' %>
              <%- end -%>
            <%- end -%>
          </div>
        <%- end -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
</fieldset>
