<%- if @providers.empty? -%>
  <p><%= t('provider.no_providers') %></p>
<%- else -%>
    <table>
      <thead>
        <tr>
          <th><%= t('provider.company_name') %></th>
          <th><%= t('provider.location') %></th>
          <th><%= t('provider.confirmed') %> <%= link_to '[?]', '#', :id => "confirmed-explanation", :class => 'tooltip', :'title' => t('provider.confirmed_explanation') %></th>
          <th><%= t('provider.endorsements')%></th>
        </tr>
      </thead>
      <tbody>
        <%- @providers.each do |provider| -%>
          <tr>
            <td><%= link_to provider.company_name, provider %></td>
            <td><%= provider.private_address.join(', ') %></td>
            <td><%= provider.active? ? t('provider.confirmed') : '' %></td>
            <td><%= provider.endorsements.approved.size %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
<%- end -%>