<%- if @providers.empty? -%>
  <p><%= t('provider.no_providers') %></p>
<%- else -%>
    <table class="listTable">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t('provider.company_name') %></th>
          <th>Speaks</th>
          <th>Will Travel</th>
          <th>Availability</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%- @providers.each do |provider| -%>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><img src="/images/profile-default-sm.png" /></td>
            <td>
              <%= link_to provider.company_name, provider %><br/>
              <%= provider.private_address.join(', ') %>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="" class="favorite">Add to Favorites</a></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
<%- end -%>