<%- if @providers.empty? -%>
  <p><%= t('provider.no_providers') %></p>
<%- else -%>
    <table class="listTable">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t('name_and_location') %></th>
          <th><%= t('speaks') %></th>
          <th><%= t('soonest_availability')%></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%- @providers.each do |provider| -%>
          <tr class="<%= cycle('odd', 'even') %>">
            <td><img src="/images/profile-default-sm.png" /></td>
            <td>
              <%= link_to provider.name, provider %>
              <%- if provider.company_name.not.blank? and provider.company_name != provider.name -%>
                <%= "<em>(#{link_to(provider.company_name, provider)})</em>"  %>
              <%- end -%>
              <br/>
              <%= provider.private_address.join(', ') %>
            </td>
            <td>
              <%= provider.languages.collect(&:name).to_sentence %>
            </td>
            <td>
              <%= provider.soonest_availability.strftime("%B") %>
            </td>
            <td><a href="" class="favorite hidden">Add to Favorites</a></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
<%- end -%>