<h2><%= t('create_a_rails_freelance_account') %></h2>

<p class="description"><%= t('provider.signup_description') %></p>

<%= @page_content.content if @page_content %>

<div class="narrow box">
  <% form_for setup_provider(@provider), :html => {:multipart => true} do |f| -%>

    <%= f.error_messages %>

      <!-- <h3><%= t('provider.administrator_password_headline') %></h3> -->

      <!-- <p><%= t('provider.administrator_password_description')%></p> -->
    
      <%- f.fields_for :users do |uf| -%>
        <div class="info">
          <h5><%= t('account_information') %></h5>
          <p><%= t('info_account') %></p>
          <p><%= t('info_phone') %></p>
        </div>
        <table>
          <tr>
            <td>
              <%= uf.label :first_name, t("user.first_name") %> <%= uf.text_field :first_name %>
            </td>
            <td>
              <%= uf.label :last_name, t("user.last_name") %> <%= uf.text_field :last_name %>
            </td>
          </tr>
        </table>

          <%= uf.label :email, t("user.email") %> <%= uf.text_field :email %><br />
          <%= f.label :phone_number, t("provider.phone_number") %> <%= f.text_field :phone_number %> <br />
          <%= uf.label :password, t("user.password") %> <%= uf.password_field :password %> <br />
          <%= uf.label :password_confirmation, t("user.password_again") %> <%= uf.password_field :password_confirmation %>

      <%- end -%>

      <h3><%= t('tell_us_about_your_business') %></h3>
      <!-- <p><% t('provider.company_details_descrpition') %></p> -->
      <div class="info">
        <p><%= t('info_company_name') %></p>
      </div>

      <%= render :partial => 'providers/form', :locals => {:f => f} %>
    <fieldset class="terms">
      <div class="info">
        <p><%= t('info_terms') %></p>
      </div>
      <ul>
        <li><%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, t('provider.accept_terms_of_service')%></li>
      </ul>
    </fieldset>
    
    <div class="info">
      <p><%= t('info_captcha') %></p>
    </div>
    <%= recaptcha_tags(:ssl => true) %>

    <%= f.submit t('forms.signup'), :class=>'callout' %>

  <% end -%>
</div>