<div class="panel">
  <!-- <h2><%= t('provider.directory_headline') %></h2> -->
  <!-- <p class="description"><%= t('provider.directory_results_description') %></p> -->

  <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
    <h3><%= t('change_your_search_criteria') %></h3>
    <fieldset>
      <table>
        <tr>
          <td>
            <%= label_tag 'location', t('location') %><br />
            <%= location_select %>
          </td>
          <td>
            <%= label_tag 'hourly_rate', t('provider.hourly_rate') %><br />
            <%= select_tag 'hourly_rate', options_for_select(
              [
                ["<$75", 0],
                ["$75-$150", 75],
                [">$150", 150]
                ]
                ) %><br />
          </td>
          <td>
            <%= label_tag 'travel', t('will_travel') %>
            <%= select_tag 'travel', options_for_select(
            [
              [t('anywhere'), 'anywhere']
              ]
            ) %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <%= label_tag 'availability', t('availability') %>
            <%= availability_select %>
          </td>
          <td>
            <%= label_tag 'hours', t('hours_per_week') %>
            <%= hours_per_week_select %>
          </td>
          <td>
            <%= label_tag 'weeks', t('number_of_weeks') %>
            <%= project_length_select %>
          </td>
        </tr>
      </table>
    </fieldset>
    <%= submit_tag t('find_a_freelancer') %>
  <% end -%>
  
  
  <div class="favorites">
    <h3>Your Favorites (3)</h3>
    <ul>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Paul Campbell</h4>
        <p>Mountain View, California, USA</p>
      </li>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Ben de Jesus</h4>
        <p>San Francisco, California, USA</p>
      </li>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Andy Delcambre</h4>
        <p>Portland, Oregon, USA</p>
      </li>
  </div>

  <%- if @providers.empty? -%>
    <p><%= t('provider.no_providers') %></p>
  <%- else -%>

    <%- form_for :rfp, :url => new_rfp_path, :html => {:method => :get} do |f| -%>
  
      <table class="listTable">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><%= t('name_and_location') %></th>
            <th><%= t('speaks') %></th>
            <th><%= t('will_travel') %> <%= link_to '[?]', '#', :id => "confirmed-explanation", :class => 'tooltip', :'title' => t('provider.confirmed_explanation') %></th>
            <th><%= t('availability')%></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%- @providers.each do |provider| -%>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><img src="/images/profile-default-sm.png" /></td>
              <td>
                <%= link_to provider.company_name, provider %>
                <%= provider.private_address.join(', ') %>
              </td>
              <td>English (TODO)</td>
              <td>SF Bay Area (TODO)</td>
              <td>December (TODO)</td>
              <td><%= link_to "Add to Favorites (TODO)", '#' %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    
      <%= hidden_field_tag 'budget', params[:budget] %>
      <%- if params[:service_ids] -%>
        <%- params[:service_ids].each do |service_id| -%>
          <%= hidden_field_tag 'service_ids[]', service_id %>
        <%- end -%>
      <%- end -%>

      <div class="aligncenter"><%= f.submit t("general.next"), :id => 'next', :onClick=>"pageTracker._trackEvent('Request', 'Create Request', 'Search');" %></div>
    <%- end -%>

  <%- end -%>
</div>