<div class="panel">
  <!-- <h2><%= t('provider.directory_headline') %></h2> -->
  <!-- <p class="description"><%= t('provider.directory_results_description') %></p> -->

  <% form_tag search_providers_path, :method => :get, :id => 'search-form', :class=>'searchFilters' do -%>
    <h3><%= t('change_your_search_criteria') %></h3>
    <fieldset>
      <ul>
        <li>
          <%= label_tag 'location', t('location') %><br />
          <%= location_select %>
        </li>
        <li>
          <%= label_tag 'hourly_rate', t('provider.hourly_rate') %><br />
          <%= select_tag 'hourly_rate', options_for_select(
            [
              [t('any'), ''],
              ["<$75", "0-75"],
              ["$75-$150", "75-150"],
              [">$150", "150-"]
              ]
              ) %>
        </li>
        <li>
          <label><%= t('speaks') %></label><br />
          <select id="language">
            <option>Any Language</option>
          </select>            
        </li>
        <li>
          <%= label_tag 'travel', t('will_travel') %><br />
          <%= select_tag 'travel', options_for_select(
          [
            [t('anywhere'), 'anywhere']
            ]
          ) %>
        </li>
        <li>
          <%= label_tag 'availability', t('availability') %><br />
          <%= availability_select %>
        </li>
        <li>
          <%= label_tag 'hours', t('hours_per_week') %><br />
          <%= hours_per_week_select %>
        </li>
        <li>
          <%= label_tag 'weeks', t('project_length') %><br />
          <%= project_length_select %>
        </li>
        <li><%= submit_tag t('update') %></li>
      </ul>
    
      
    </fieldset>
  <% end -%>
  
  
  <div class="favorites">
    <h3><%= t('your_favorites') %></h3>
    <ul>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Nick French</h4>
        <p>Mountain View, California, USA</p>
      </li>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Ben de Jesus</h4>
        <p>San Francisco, California, USA</p>
      </li>
      <li>
        <img src="/images/profile-default-sm.png" />
        <h4>Andy Delcambre</h4>
        <p>Portland, Oregon, USA</p>
      </li>
  </div>

  <%- if @providers.empty? -%>
    <p><%= t('provider.no_providers') %></p>
  <%- else -%>

    <%- form_for :rfp, :url => new_rfp_path, :html => {:method => :get} do |f| -%>
  
      <table class="listTable">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th><%= t('name_and_location') %></th>
            <th><%= t('speaks') %></th>
            <th><%= t('will_travel') %> <%= link_to '[?]', '#', :id => "confirmed-explanation", :class => 'tooltip', :'title' => t('provider.confirmed_explanation') %></th>
            <th><%= t('availability')%></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%- @providers.each do |provider| -%>
            <tr class="<%= cycle('odd', 'even') %>">
              <td>
                <%- if @provider.logo_file_name.not.blank? -%>
                  <%= image_tag(@provider.logo.url(:thumb), :class=>'avatar') %>
                <%- else -%>
                  <img src="/images/profile-default.png" class='avatar' />
                <%- end -%>
              </td>
              <td>
                <%= link_to provider.company_name, provider %><br />
                <%= provider.private_address.join(', ') %>
              </td>
              <td>English (TODO)</td>
              <td>SF Bay Area (TODO)</td>
              <td>December (TODO)</td>
              <td><%= link_to "Add to Favorites (TODO)", '#', :class=>'favorite' %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    
      <%= hidden_field_tag 'budget', params[:budget] %>
      <%- if params[:service_ids] -%>
        <%- params[:service_ids].each do |service_id| -%>
          <%= hidden_field_tag 'service_ids[]', service_id %>
        <%- end -%>
      <%- end -%>

      <div class="aligncenter"><%= f.submit t("show_more_results"), :id => 'next' %></div>
    <%- end -%>

  <%- end -%>
</div>