<div class="panel">
  <% 
    # Title: <name> Developer Profile | Rails Developer in <city> <state> | Rails Development Directory
    # Meta Description: View the Rails developer profile for <name>, located in <city>, <state>, <country>, providing <services offered>.
   %>

  <%- content_for :title do -%><%= @provider.company_name %> <%= t('provider.developer_profile') %> | <%= t('provider.rails_developer_in') %> <%= [@provider.city, @provider.state_province].reject { |a| a.blank? or a == 'NA' }.join(', ') %> | <%- end %>
  <%- content_for :description do -%><meta name="description" content="<%= t('provider.developer_description', :name => @provider.company_name, :address => @provider.private_address.join(', '), :services_offered => (Service.checked + @provider.services).collect{ |t| t.name }.join(', ')) %>"><%- end -%>

  
    
      <% if logged_in? and current_user.can_edit?(@provider) %>
      <div class="pageHead userEdit">
        <%= link_to t('company_profile.edit'), edit_my_provider_path, :class=>"button" %>
        <h2 class="status">Your profile is <strong>50%</strong> complete</h2>
      </div>
      <%- end -%>
    
  <div class="narrow">
    <div class="providerHead">
      <%- if @provider.logo_file_name.not.blank? -%>
        <%= image_tag(@provider.logo.url(:thumb), :class=>'avatar') %>
      <%- else -%>
        <img src="/images/profile-default.png" class='avatar' />
      <%- end -%>
      <h2 class="name"><%= @provider.company_name %></h2>

      <p><%= t('located_in') %> <%= @provider.private_address.join(", ") %></p>
      <p class="rate">
        <img src="/images/icon-money-on.png" />
        <img src="/images/icon-money-<%= @provider.hourly_rate.to_i >= 75 ? 'on' : 'off' %>.png" />
        <img src="/images/icon-money-<%= @provider.hourly_rate.to_i >= 150 ? 'on' : 'off' %>.png" />
        <%= t('hourly_rate') %>
      </p>

      <!-- <% if @provider.marketing_description.not.blank? %>
              <div class="description"><%= sanitize(simple_format(@provider.marketing_description)) %></div>
            <% end %> -->
    </div>

    <div class="block companyInfo">
      <h3><%= t('provider.about') %></h3>
      <ul>
        <li class="language"><%= t('speaks') %> <strong>English</strong></li>
        <li class="location"><%= t('willing_to_travel') %></li>
        <li class='payment'><%= t('accepts_as_payment') %></li>
      </ul>
    </div>

    <table class="services">
      <thead>
        <tr><th><%= t('provider.services') %></th><th><%= t('provider.experience') %></th></tr>
      </thead>
      <tbody>
        <%- if @provider.services.empty? -%>
          <tr>
            <td colspan="2"><%= t('provider.no_services') %></td>
          </tr>
        <%- else -%>
          <%- @provider.services.group_by(&:category).each do |category, services| -%>
            <tr>
              <th colspan="2"><%= category.name %></th>
            </tr>
            <%- services.each do |service| -%>
              <tr>
                <td>
                  <%= service.name %>
                </td>
                <td><img src="/images/icon-exp-on.png" alt="*" /> <img src="/images/icon-exp-on.png" alt="*" /> <img src="/images/icon-exp-off.png" alt="" />
                  <%- if proficiency = @provider.provided_services.for_service(service).proficiency -%>
                    <%= t("service.proficiency_#{proficiency}") %>
                  <%- end -%>
                </td>
              </tr>
            <%- end -%>
          <%- end -%>
        <%- end -%>
      </tbody>
    </table>
  </div>

  <div class="sidebar">  
    <!-- <% form_for :provider, :url => new_rfp_path, :html => {:method => :get} do |f| -%>
        <%= hidden_field_tag "provider_id", @provider.id %>
        <%= f.submit t('provider.send_rfp') %>
      <% end -%> -->
  
    <% unless logged_in? and current_user.can_edit?(@provider) %>
      <ul class="links">
        <li class="request"><%= link_to 'Save As Favorite', '', :class=>'button' %></li>
        <li class="request"><%= link_to t('provider.request_rfp'), new_rfp_path(:provider_id => @provider.id), :onClick=>"pageTracker._trackEvent('Request', 'Create Proposal', 'Profile');", :class=>'button' %></li>
      </ul>
    <%- end -%>
      
    <h3><%= t('availability') %></h3>
    <table class="availability">
      <tbody>
        <tr>
          <th>December</th>
          <th>January</th>
          <th>February</th>
        </tr>
        <tr>
          <td>Booked</td>
          <td><a href="">Accepting Work</a></td>
          <td><a href="">Accepting Work</a></td>
        </tr>
      </tbody>
    </table>
    
    <h3><%= t('code_samples') %></h3>
    <div class="widget">
      <p><%= t('code_sample_label') %></p>
      <p class="score"><strong>80</strong>/100 <span class="label"><%= t('avg_score') %></span></p>
      <div class="clear"></div>
    </div>
  
    <!-- <h3><%= t('provider.feedback_headline') %></h3>
      
        <%- if @provider.feedbacks.accepted.empty? -%>
          <p><%= t('provider.no_feedback') %></p>
        <%- else -%>
          <%- @provider.feedbacks.accepted.each do |feedback| -%>
            <div>
              <blockquote>&#8220;<%= h feedback.message %>&#8221;</blockquote>
              <cite>
                <% # This part needs to get cleaned up %>
                <%=h feedback.name %>, <%=h feedback.position %>
                <%= t('feedback.at') %> <%=h feedback.company %><br />
                <%= t('feedback.hired') %> <%=h @provider.company_name %>
                <%= t('feedback.in') %> <%=h feedback.year_hired %>
              </cite>
            </div>
          <%- end -%>
        <%- end -%>
      
        <%= link_to t('provider.feedback'), new_provider_feedback_path(@provider) %> -->
  
    <h3><%= t('provider.quiz_results_headline') %></h3>
    <div class="widget">
      <%- if @provider.quiz_results.passed.empty? -%>
        <%= t('provider.no_quiz_passes') %>
      <%- end -%>
      <%- if logged_in? and current_user.provider == @provider -%>
        <%= link_to t('quiz.take_quiz'), new_my_quiz_result_path %>
      <%- end -%>
    </div>
    
    <h3><%= t('provider.endorsements_headline') %></h3>
  
    <%- if @provider.endorsements.approved.empty? -%>
      <p><%= t('provider.no_endorsements') %></p>
    <%- else -%>
      <% @provider.endorsements.recent.approved.each do |endorsement| %>
        <div>
          <blockquote>&#8220;<%= h endorsement.endorsement %>&#8221;</blockquote>
          <cite>
            <% # This part needs to get cleaned up %>
            <%=h endorsement.name %>, <%=h endorsement.position %>
            <%= t('endorsement.at') %> <%=h endorsement.company %><br />
            <%= t('endorsement.hired') %> <%=h @provider.company_name %>
            <%= t('endorsement.in') %> <%=h endorsement.year_hired %>
          </cite>
          <%= link_to t('provider.request_a_reference'),
                      new_endorsement_reference_request_path(endorsement) %>
        </div>
      <%- end -%> 
    <%- end -%>
  
    <%- if @provider.endorsements.approved.count > 3 -%>
      <%= link_to t('provider.more_endorsements'), provider_endorsements_path(@provider), :id => 'more-endorsements' %>
      | 
    <%- end -%>
    <% if logged_in? and current_user.provider == @provider %>
      <%= link_to t('endorsement.ask_for_endorsement'), new_my_endorsement_request_path %>
    <%- end -%>
  </div>
  <div class="clear"></div>
</div>