<h2><%= t('navigation.services') %></h2>

<ul>
  <li><%= link_to t('service_category.manage'), admin_service_categories_path %><li>
  <li><%= link_to t('service.add_new'), new_admin_service_path %></li>
</ul>

<% if @services.empty? %>
  <p><%= t('service.no_services')%></p>
<%- else -%>
  <%- @services.group_by(&:category).each do |category, services| %>
    <h3><%= category.name %></h3>
    <%= link_to t('.sort_list'), sort_admin_services_path, :class => 'toggle-sort' %>
    <div class="sort-list">
      <br />
      <div class="sortable">
        <%- services.each do |service| -%>
          <div class="service" id="<%= dom_id(service) %>"><%= service.name %></div>
        <%- end -%>
      </div>
    </div>
    <div class="sortable-collection">
      <table border="0">
        <thead>
          <tr>
            <th><%= t('service.name') %></th>
            <th><%= t('service.checked') %></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <%= render :partial => 'service', :collection => services %>
        </tbody>
      </table>
    </div>
  <%- end -%>
<%- end -%>