<h2><%= t('navigation.services') %></h2>

<ul>
  <li><%= link_to t('service.add_new'), new_admin_service_path %></li>
</ul>

<% if @services.empty? %>
  <p><%= t('service.no_services')%></p>
<%- else -%>
  <table border="0">
    <tr>
      <th><%= t('service.name') %></th>
      <th><%= t('service.category') %></th>
      <th><%= t('service.checked') %></th>
      <th>&nbsp;</th>
    </tr>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.category.name %></td>
        <td><%= service.checked? ? t('general.yes') : t('general.no') %></td>
        <td>
          <%= link_to t('general.edit'), edit_admin_service_path(service) %>
          <%= link_to t('general.delete'), [:admin, service], :method => :delete, :confirm => "Are you sure?" %>
        </td>
      </tr>
    <%- end -%>
  </table>
<%- end -%>