<h2><%= t('provider.recommendation_headline') %></h2>

<p class="description"><%= t('provider.recommendation_description', :company => @provider.company_name) %></p>

<hr />

<% form_for [@provider, @recommendation] do |f| -%>
  <%= f.error_messages %>

    <%= f.label :name, t("recommendation.name") %> <%= f.text_field :name %> <br />
		<%= f.label :year_hired, t("recommendation.year_hired", :company => @provider.company_name) %> <%= f.select :year_hired, (2004..Time.now.year.to_i).entries.reverse %><br/>
    <%= f.label :company, t("recommendation.company") %> <%= f.text_field :company %> <br />
    <%= f.label :url, t("recommendation.url") %> <%= f.text_field :url %> <br />
    <%= f.label :position, t("recommendation.position") %> <%= f.text_field :position %> <br />
    <%= f.label :email, t("recommendation.email") %> <%= f.text_field :email %> <br />
    <%= f.label :endorsement, t("recommendation.endorsement") %><%= f.text_area :endorsement %> <br />

    <%= recaptcha_tags %>

  <%= f.submit t('recommendation.save') %>
<%- end -%>