<h2><%= t('navigation.service_categories') %></h2>

<ul>
  <li><%= link_to t('service.manage'), admin_services_path %><li>
  <li><%= link_to t('service_category.add_new'), new_admin_service_category_path %></li>
</ul>

<% if @service_categories.empty? %>
  <p><%= t('service_category.no_categories')%></p>
<%- else -%>
  <%= link_to t('.sort_list'), sort_admin_service_categories_path, :class => 'toggle-sort' %>
  <div class="sort-list">
    <div class="sortable">
      <%- @service_categories.each do |category| -%>
        <div class="category" id="<%= dom_id(category) %>"><%= category.name %></div>
      <%- end -%>
    </div>
  </div>
  <div class="sortable-collection">
    <table border="0">
      <thead>
        <tr>
          <th><%= t('service_category.name') %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => 'service_category', :collection => @service_categories %>
      </tbody>
    </table>
  </div>
<%- end -%>
