<tr>
  <td>
    <%= check_box_tag "recommendations[#{recommendation.id}][approved]", true, recommendation.state == 'approved' %>
    <%= hidden_field_tag "recommendation_ids[]", recommendation.id %>
  </td>
  <td><%= link_to recommendation.name, [:my, recommendation] %></td>
  <td><%= mail_to recommendation.email %></td>
  <td><%= recommendation.year_hired %></td>
  <td><%= recommendation.state %></td>
</tr>