<div class="dashboard">
  <h3><%= t('recommendation.endorsements_for', :company => @provider.company_name) %></h3>
  <p>
    <%= link_to t('provider.request_endorsement'), new_my_endorsement_request_path %> |
    <%= link_to t('provider.sort_endorsements'), '#', :class => 'sort-endorsements' %>
  </p>

  <%- if @recommendations.blank? -%>
    <p><%= t('provider.no_recommendations')%></p>
  <%- else -%>
  
    <div id="sorting-endorsements">
        <ul>
          <%- @recommendations.each do |recommendation| -%>
            <li class="sortable" id="<%= dom_id(recommendation) %>">
              <strong><%= recommendation.name %></strong> <em><%= truncate(recommendation.endorsement) %></em></li>
          <%- end -%>
        </ul>
        
    </div>
    <div id="non-sorting-endorsements">
      <%- form_tag update_all_my_recommendations_path do -%>
        <table class="recommendations">
          <tr>
            <th><%= t('recommendation.is_approved') %></th>
            <th><%= t('recommendation.admin.name') %></th>
            <th><%= t('recommendation.admin.email') %></th>
            <th><%= t('recommendation.admin.year_hired') %></th>
            <th>&nbsp;</th>
          </tr>
        <tbody id="recommendations-collection">
          <%= render :partial => "recommendation", :collection => @recommendations %>
        </tbody>
        </table>
        <%= submit_tag t('recommendation.approve_selected') %>
      <%- end -%>
    </div>
  <%- end -%>

  <h3><%= t('endorsement_request.headline') %></h3>
  <%- if @endorsement_requests.empty? -%>
    <p><%= t('provider.no_endorsement_requests')%></p>
  <%- else -%>
    <table class="recommendations">
      <tr>
        <th><%= t('endorsement_request.recipients') %></th>
        <th><%= t('endorsement_request.message') %></th>
      </tr>
    <% @endorsement_requests.each do |endorsement| %>
    <tr>
      <td>
      <% endorsement.emails.each do |recipient| -%>
        <%=h recipient %><br />
      <% end -%>
      </td>
      <td><%= endorsement.message %></td>
    </tr>
    <%- end -%>
    </table>
  <%- end -%>
</div>