<h2><%= t('company_profile.edit_headline') %></h2>

<p class="description"><%= t('company_profile.edit_description') %></p>

<hr />

<% form_for @provider, :url => my_provider_path, :html => {:multipart => true} do |f| -%>
  
  <%= f.error_messages %>

  <%- if current_user.can_admin?(@provider) -%>
    <fieldset>
      <%= f.label :user_id, t("provider.admin") %> <%= f.select :user_id, @provider.users_for_select %>
    </fieldset>
  <%- end -%>
  
  <%= render :partial => 'providers/form', :locals => {:f => f} %>
  
  <%= f.submit t('forms.save') %> <%= t('forms.or')%> <%= link_to t('forms.cancel'), @provider %>

<% end -%>