<div class="dashboard">

  <div class="pageHead">
    <h2><%= t('edit_your_profile') %></h2>
  </div>

  <% form_for @provider, :url => my_provider_path, :html => {:multipart => true} do |f| -%>
  
    <%= f.error_messages %>
  
    <%= render :partial => 'providers/form', :locals => {:f => f} %>
  
    <h3><%= t('provider.services') %></h3>

    <%- setup_services(@provider) -%>
    <ul>
    
    <%- @provider.provided_services.sort_by { |s| [s.category.position, s.service.position] }.group_by(&:category).each do |category, services| -%>
      <li>
        <h4 class="service_category"><%= category.name %></h4>
        <ul>
        <%- services.each do |service| %>
          <%- f.fields_for :provided_services, service do |ps| -%>
            <%- if ps.object.category == category -%>
              <li>
                <%= ps.check_box :_delete, { :class => 'service' }, 'false', 'true' %>
                <%= ps.hidden_field :service_id %>
            
                <%= ps.label :_delete, ps.object.name %>
            
                <%- if category.proficiency? -%>
                  <ul class="testability <%= 'hidden' unless  ps.object.not.new_record? %>">
                  <%- (1..3).each do |level| -%>
                    <li>
                    <%= ps.radio_button :proficiency, level %>
                    <%= ps.label "proficiency_#{level}", t("service.proficiency_#{level}") %>
                    <%= ps.label "proficiency_#{level}",
                                 "#{category.name} #{ps.object.name} #{t("service.proficiency_#{level}")}",
                                 :class => 'hidden' %>
                    </li>
                  <%- end -%>
                  </ul>
                <%- end -%>
              </li>
            <%- end -%>
          <%- end -%>
        <%- end -%>
        </ul>
      </li>
    <%- end -%>

    </ul>
    
    <div class="clear"></div>
    <%= f.submit t('forms.save') %> <%= t('forms.or')%> <%= link_to t('forms.cancel'), @provider %>

  <% end -%>
</div>