<% form_for [:admin, setup_quiz(@quiz)] do |f| -%>
  
  <%= f.error_messages %>

  <fieldset>
    <%= f.label :name, t("quiz.name") %>
    <%= f.text_field :name %> <br />
    
    <%= f.label :skill_level %> <%= f.select :skill_level, [['Beginner', 'beginner'], ['Intermediate', 'intermediate'], ['Advanced', 'advanced']] %> <br />
    <%= f.label :time_limit %> <%= f.text_field :time_limit %> (in minutes)<br />
  </fieldset>
  
  <h2><%= t('questions') %></h2>
    <%- n = 0; f.fields_for :questions do |q| n = n.next -%>
      <%= q.label :text, "Question #{n}" %> <%= q.text_field :text %> <br />
      <%= q.label :correct_answer_id %> <%= q.select :correct_answer_id, q.object.answers.collect { |a| [a.text, a.id] } %> <br />
      <h3><%= t('answers') %></h3>
      <%- n1 = 0; q.fields_for :answers do |a| n1 = n1.next -%>
        <%= a.label :text, "Answer #{n1}" %> <%= a.text_field :text %> <br />
      <%- end -%>
    <%- end -%>
  
  

  <%= f.submit t('forms.save') %> <%= t('forms.or') %> <%= link_to t('forms.cancel'), admin_quizzes_path %>
<% end -%>