<div class="dashboard">
  <h3><%= @quiz_result.quiz.name %></h3>

  <%- if @quiz_result.passed? -%>
    <p><%= t('quiz_result.passed') %></p>
  <%- else -%>
    <p><%= t('quiz_result.failed') %></p>
    <p>
      <%- (correct, total) = @quiz_result.score -%>
      <%= correct %> correct answers for <%= total %> questions.
    </p>
    <p>
      <%= link_to t('quiz_result.try_again'), new_my_quiz_result_path %>
    </p>
  <%- end -%>
<div class="panel">