<div class="dashboard"> 
  <div class="pageHead">
    <h2><%= t('request.headline') %></h2>
    <ul class="summary">
      <li class="unread">Unread</li>
      <li class="flagged">Flagged</li>
      <li>Awaiting Response</li>
    </ul>
  </div>
  
  <!-- Uncomment this to add a page description -->
  <!-- <p class="description"><%= t('request.description') %></p> -->
  
  <%- if @requests.empty? -%>
    <p><%= t('no_enquiries') %></p>
  <%- else -%>
    <table class="requests">
      <thead>
        <tr>
          <th><%= t('request.submitted_by') %></th>
          <th><%= t('start') %></th>
          <th><%= t('hours') %></th>
          <th><%= t('length') %></th>
          <th><%= t('request.submitted_on') %></th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |req| %>
        <tr class="<%= 'unread' if req.unread? %> <%= cycle('odd', 'even') %>">
          <td><%= link_to req.rfp.company_name, [:my, req] %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= t('general.ago', :date => time_ago_in_words(req.created_at)) %></td>
        </tr>
        <%- end -%>
      </tbody>
    </table>
  <%- end -%>

  <%= will_paginate %>
</div>