<div class="request dashboard">
  <div class="pageHead">
    <h2><%= t('enquiries') %></h2>
    <ul class="summary">
      <li><%= t('rfp.submitted_on') %> <%= @rfp.created_at_formatted %></li>
      <li class="flagged">Flag This Contact</li>
    </ul>
  </div>
  
  <div class="block">
  
    <h3><%= t('rfp.project_owner') %></h3>
  

      <dl class="column">
        <dt><%= t('name') %></dt>
        <dd><%= @rfp.first_name %> <%= @rfp.last_name %></dd>
  
        <dt><%= t('rfp.email') %></dt>
        <dd><%= mail_to @rfp.email %></dd>
  
        <dt><%= t('rfp.phone_number') %></dt>
        <dd><%= @rfp.phone_number %></dd>
      </dl>

      <dl class="column">
        <dt><%= t('company') %></dt>
        <dd><%= @rfp.company_name %></dd>
  
        <dt><%= t('location') %></dt>
        <dd>
        <%= State.by_code(@rfp.state) %>
        <%= t("countries.#{@rfp.country}") %>
        </dd>
      
        <dt><%= t('rfp.time_zone') %></dt>
        <dd><%= @rfp.time_zone %></dd>
      </dl>
  </div>

  <div class="block">
  
    <h3><%= t('rfp.project_details') %></h3>

    <dl class="column">
      <dt><%= t('location_of_work') %></dt>
      <dd><%= t("#{@rfp.location_of_work}") %></dd>
      <dt><%= t('rfp.duration') %></dt>
      <dd><%= rfp_duration(@rfp.duration) %></dd>
    </dl>
      
    <dl class="column">
      <dt><%= t('rfp.start_date') %></dt>
      <dd><%= @rfp.start_date_formatted %></dd>
      <dt><%= t('hours_per_week') %></dt>
      <dd><%= rfp_hours(@rfp.hours_per_week) %></dd>
    </dl>
    
    <dl class="column">
      <dt><%= t('rfp.additional_services') %></dt>
      </dd><%= @rfp.additional_services %></dd>
      
      <dt><%= t('rfp.nda_required') if @rfp.nda_required? %></dt>
      </dd><%= @rfp.project_description %></dd>
    </dl>
    
    <div class="column services hidden">
      <h4><%= t('rfp.insurance_requirements') %></h4>
      <ul>
        <li><%= t('rfp.general_liability_insurance') %>: <%= yes_or_no(@rfp.general_liability_insurance)%></li>
        <li><%= t('rfp.professional_liability_insurance') %>: <%= yes_or_no(@rfp.professional_liability_insurance) %></li>
      </ul>
    </div>
    
    <div class="clear"></div>
    
    <div class="column services">
      <h4><%= t('rfp.services') %></h4>
      <ul>
        <% @rfp.requested_services.each do |service| %>
          <li><%= service.name %></li>
        <%- end -%>
      </ul>
    </div>
    
    <div class="clear"></div>
  </div>
  
</div>