<%- content_for :keywords do -%><meta name="keywords" content="<%= @page.keywords if @page %>"><%- end -%>
<%- content_for :description do -%><meta name="description" content="<%= @page.description if @page %>"><%- end -%>

<div class="welcome">
  <h1><%= t('home.welcome') %></h1>
  <div><%= t('home.description') %></div>
  <div class="clear"></div>
</div>


<div class="searchWizard">
  <div class="provider search">
    <h3><%= t('provider.directory.description') %></h3>
    <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
      <ul class="filters first">
        <li>
          <%= label_tag 'location', t('provider.directory.location') %><br />
          <%= location_select %>
        </li>
        <li>
          <%= label_tag 'availability', t('availability') %><br />
          <%= availability_select %>
        </li>
        <%- @top_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
        <li>
          <%= label_tag dom_id(category), category.name -%><br />
          <%= select_tag("service_ids[]", options_for_select(services.sort_by(&:name).collect{ |s| [s.name, s.id]}), :id => dom_id(category)) -%>
        </li>
        <%- end -%>
          
      </ul>

      <h4><%= t('filter_by_services_skills') %></h4>
      <ul class="filters">
        <li>
          <h4><%= t('provider.directory.services') %>:</h4>
          <ul>
            <li class="ror"><%= image_tag '/images/icon-check.png', :class=>"check"%> <label><%= t('provider.directory.default_service') %></label></li>
            <%- @general_services.each do |service| -%>
            <li>
              <%= check_box_tag "service_ids[]", service.id, false, :id => dom_id(service) %>
              <%= label_tag dom_id(service), service.name %>
            </li>
            <%- end -%>
          </ul>
        </li>
        <%- @mid_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
        <li>
          <h4><%= category.name %>:</h4>
          <ul>
            <%- services.each do |service| -%>
            <li>
              <%= check_box_tag "service_ids[]", service.id, false, :id => dom_id(service) %>
              <%= label_tag dom_id(service), service.name %>
            </li>
            <%- end -%>
          </ul>
        </li>
        <%- end -%>
      </ul>

      
      <h4><%= t('filter_by_project_requirements') %></h4>
      
      <ul class="filters">
        <li>
          <%= label_tag 'weeks', t('project_length') %><br />
          <%= project_length_select %>
        </li>
        
        <li>
          <%= label_tag 'hours', t('hours_per_week') %><br />
          <%= hours_per_week_select %>
        </li>
        
        <%- @bottom_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
        <li>
          <%= label_tag dom_id(category), category.name -%><br />
          <%= select_tag("service_ids[]", options_for_select(services.collect{ |s| [s.name, s.id]}), :id => dom_id(category)) -%>
        </li>
        <%- end -%>
      </ul>

        <%= submit_tag t('find_a_freelancer') %>
    <% end -%>
  </div>
</div>

<%
# Mockup html for developer grid -- 
# <h3 class="featuredevtitle">Featured Freelance Rails Developers</h3>
# <div class="featuredevs">
#   <div class="content">
#     <table>
#       <col />
#       <col />
#       <col />
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#     </table>
#   </div>
# </div>
%>

<%= @page.content if @page %>