<%- content_for :keywords do -%><meta name="keywords" content="<%= @page.keywords if @page %>"><%- end -%>
<%- content_for :description do -%><meta name="description" content="<%= @page.description if @page %>"><%- end -%>

<div class="welcome">
  <h1><%= t('home.welcome') %></h1>
  <div><%= t('home.description') %></div>
  <div class="clear"></div>
</div>


<div class="searchWizard">
  <div class="provider search">
    <h3><%= t('provider.directory.description') %></h3>
    <% form_tag search_providers_path, :method => :get, :id => 'search-form' do -%>
      <table>
        <tr>
          <td>
            <%= label_tag 'budget', t('provider.directory.budget') %><br />
            <%= text_field_tag 'budget', '', :class => "number" %>
          </td>
          <td>
            <%= label_tag 'hourly_rate', t('provider.hourly_rate') %><br />
            <%= text_field_tag 'hourly_rate', '', :class => "number" %><br />
          </td>
          <td>
            <%= label_tag 'location', t('provider.directory.location') %><br />
            <%= location_select %>
          </td>
          <%- @bottom_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
          <td>
            <%= label_tag dom_id(category), category.name -%>
            <%= select_tag("service_ids[]", options_for_select(services.collect{ |s| [s.name, s.id]}), :id => dom_id(category)) -%>
          </td>
          <%- end -%>
          
        </tr>
      </table>
      <h4>Filter by services and skills</h4>
      <table class="filters">
        <tr>
          <td>
            <h4><%= t('provider.directory.services') %>:</h4>
            <ul>
              <li><label><%= image_tag '/images/icon-check.png', :class=>"check"%> <%= t('provider.directory.default_service') %></label></li>
              <%- @general_services.each do |service| -%>
                <li>
                  <%= check_box_tag "service_ids[]", service.id, false, :id => dom_id(service) %>
                  <%= label_tag dom_id(service), service.name %>
                </li>
              <%- end -%>
            </ul>
          </td>
          <%- @mid_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
            <td>
              <h4><%= category.name %>:</h4>
              <ul>
                <%- services.each do |service| -%>
                  <li>
                    <%= check_box_tag "service_ids[]", service.id, false, :id => dom_id(service) %>
                    <%= label_tag dom_id(service), service.name %>
                  </li>
                <%- end -%>
              </ul>
            </td>
          <%- end -%>
        </tr>
      </table>
      
      <h4><%= t('filter_by_project_requirements') %></h4>
      
      <table class="filters">
        <tr>
          <%- @bottom_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
            <td>
              <%= label_tag dom_id(category), category.name -%>
              <%= select_tag("service_ids[]", options_for_select(services.collect{ |s| [s.name, s.id]}), :id => dom_id(category)) -%>
            </td>
          <%- end -%>
        </tr>
      </table>

        <%= submit_tag t('provider.directory.find_providers') %>
    <% end -%>
  </div>
</div>

<%
# Mockup html for developer grid -- 
# <h3 class="featuredevtitle">Featured Freelance Rails Developers</h3>
# <div class="featuredevs">
#   <div class="content">
#     <table>
#       <col />
#       <col />
#       <col />
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#       <tr>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#         <td>
#           <img src="/images/profile-default.png" />
#           <h4>Avrohom Katz</h4>
#           <ul>
#             <li class="location">Located in Dublin, Ireland</li>
#             <li class="travel">Travel anywhere in the world</li>
#             <li class="language">Speaks English</li>
#             <li class="schedule">Accepting work for January</li>
#           </ul>
#         </td>
#       </tr>
#     </table>
#   </div>
# </div>
%>

<%= @page.content if @page %>