<%- if @provider.nil? -%>
  <h2><%= t('navigation.endorsements') %></h2>
<%- else -%>
  <h2><%= t('endorsement.endorsements_for', :company_name => @provider.company_name.to_s) %></h2>
<%- end -%>

<%- if @endorsements.empty? -%>
  <p><%= t('endorsement.no_endorsements') %></p>
<%- else -%>
  <table>
    <tr>
      <th><%= t('endorsement.name') %></th>
      <th><%= t('endorsement.sent_on') %></th>
      <th><%= t('endorsement.recipient_company_name') %></th>
      <th><%= t('endorsement.is_approved') %></th>
      <th>&nbsp;</th>
    </tr>

    <%- @endorsements.each do |endorsement| -%>
    <tr>
      <td><%= link_to endorsement.name, [:admin, endorsement] %></td>
      <td><%= endorsement.created_at_formatted %></td>
      <td><%= endorsement.provider.company_name if endorsement.provider %></td>
      <td><%= t("endorsement.states.#{endorsement.state}") -%></td>
      <td><%= link_to t('general.show'), [:admin, endorsement] %></td>
    </tr>
    <%- end -%>
  
  </table>
<%- end -%>

<%= will_paginate %>