<h2><%= t('recommendation.endorsements_for', :company => @provider.company_name) %></h2>

<%- if @recommendations.empty? -%>
  <p><%= t('provider.no_recommendations')%></p>
<%- else -%>
  <div class="allEndorsements">
    <% @recommendations.each do |recommendation| %>
      <p><%=h recommendation.name %></p>
      <blockquote>&#8220;<%= recommendation.endorsement %>&#8221;</blockquote>
      <cite>
        <% # This part needs to get cleaned up %>
        <%=h recommendation.position %> <%= t('recommendation.at') %> <%=h recommendation.company %>. 
        <%= t('recommendation.hired') %> <%=h @provider.company_name %> <%= t('recommendation.in') %> <%=h recommendation.year_hired %>.
      </cite>
    <%- end -%>
  </div>
<%- end -%>

<%= will_paginate %>