<h2><%= t('endorsement.endorsements_for', :company_name => @provider.company_name) %></h2>

<%- if @endorsements.empty? -%>
  <p><%= t('provider.no_endorsements')%></p>
<%- else -%>
  <div class="allEndorsements">
    <% @endorsements.each do |endorsement| %>
      <p><%=h endorsement.name %></p>
      <blockquote>&#8220;<%= endorsement.endorsement %>&#8221;</blockquote>
      <cite>
        <% # This part needs to get cleaned up %>
        <%=h endorsement.position %> <%= t('endorsement.at') %> <%=h endorsement.company %>. 
        <%= t('endorsement.hired') %> <%=h @provider.company_name %> <%= t('endorsement.in') %> <%=h endorsement.year_hired %>.
      </cite>
    <%- end -%>
  </div>
<%- end -%>

<%= will_paginate %>