<div class="panel"
  <h2><%= t('contact_a_developer') %></h2>

  <p><%= t('contact_a_developer_introduction') %></p>

  <% form_for setup_rfp(@rfp) do |f| -%>
  
      
        <%- @providers.each do |provider| -%>
        <div class="currentDev">
          <%- if provider.avatar? -%>
            <%= image_tag(provider.avatar.thumb.url, :class=>'avatar') %>
          <%- else -%>
            <img src="/images/profile-default.png" class='avatar' />
          <%- end -%>
          
          <%= hidden_field_tag "rfp[provider_ids][]", provider.id %>
          <h4><%= provider.name %></h4>
          <p><%= provider.private_address.join(", ") %></p>
        </div>
        <%- end -%>
      
  
    <%= f.error_messages %>
    
    <fieldset>
      <h3><%= t('rfp.about_you') %></h3>
      <table>
        <tr>
          <td><%= f.label :first_name, t("rfp.first_name") %> <%= f.text_field :first_name %></td>
          <td><%= f.label :last_name, t("rfp.last_name") %> <%= f.text_field :last_name %></td>
        </tr>
      </table>
      <%= f.label :company_name, t("rfp.company_name") %> <%= f.text_field :company_name %> <br />    
      <%= f.label :email, t("rfp.email") %> <%= f.text_field :email %> <br />
      <%= f.label :phone_number, t("rfp.phone_number") %> <%= f.text_field :phone_number %> <br />
      <%= f.label :office_location, t("rfp.office_location") %> <%= f.text_field :office_location %> <br />
      
      <%= f.label :state, t("state") %> <%= f.select :state, ([[t('outside_us'), "NA"]] + State::NAMES), :include_blank => true %> <br />
      <%= f.label :country, t('country') %> <%= f.localized_country_select :country, [:US, :CA, :FR, :DE,  :IE, :ES, :GB], :include_blank => t('choose_country') %> <br />
      
      
      <%= f.label :time_zone, t("rfp.time_zone") %> <%= f.time_zone_select :time_zone %> <br />

    </fieldset>
    <fieldset>
    <h3><%= t('rfp.about_your_project') %></h3>
      
      <div class="hidden">
      <%= f.label :project_name, t("rfp.project_name") %> <%= f.text_field :project_name %> <br />
      <%= f.label :budget, t("rfp.budget") %> <%= f.select :budget, Rfp.options_for_budget %> <br /></div>
    
      <table>
        <tr>
          <td>
            <%= f.label :location_of_work, "#{t('i_want_the_work_performed')}:" %>
            <%= f.select :location_of_work,
                options_for_select([
                  [t('remote_ok'), 'remote'],
                  [t('on_site'), 'onsite']
                  ])
                %> <br />
          </td>
          <td>
            <%= f.label :start_date, t("rfp.start_date") %> <%= availability_select(:rfp, :start_date) %>
          </td>
          <%- @top_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
          <td>
            <%= label_tag dom_id(category), category.name -%><br />
            <%= select_tag("service_ids[]",
                            options_for_select(services.sort_by(&:name).collect{ |s| [s.name, s.id]},
                            (Service.priority(1).all(:conditions => ["id in (?)", params[:service_ids]]).first || Service.new).id
                            ),
                            :id => dom_id(category)) -%>
          </td>
          <%- end -%>
        </tr>
      </table>
    
      <fieldset class="rfpservices">
      <label><%= t('rfp.services') %></label>
      <ul>
        <li class="group">
          <h4><%= t('services') %></h4>
          <ul>
          <li class="ror"><%= image_tag '/images/icon-check.png', :class=>"check"%> <label><%= t('provider.directory.default_service') %></label></li>
          <%- @general_services.each do |service| -%>
            <li>
              <%= check_box_tag "service_ids[]",
                                service.id,
                                params[:service_ids] && params[:service_ids].include?(service.id.to_s), 
                                :id => dom_id(service) %>
              <%= label_tag dom_id(service), service.name %>
            </li>
          <%- end -%>
          </ul>
        </li>
        <%- @mid_services.group_by(&:category).sort_by { |c,services| c.position }.each do |category, services| -%>
        <li class="group">
          <h4><%= category.name %>:</h4>
          <ul>
            <%- services.each do |service| -%>
            <li>
              <%= check_box_tag "service_ids[]",
                                service.id,
                                params[:service_ids] && params[:service_ids].include?(service.id.to_s),
                                :id => dom_id(service) %>
              <%= label_tag dom_id(service), service.name %>
            </li>
            <%- end -%>
          </ul>
        </li>
        <%- end -%>
      </ul>
      </fieldset>
    
      <div class="hidden">
      <br />
      <label><%= t('rfp.insurance_requirements_headline') %></label>
      <p><%= t('rfp.insurance_requirements_description') %></p>
      <ul>
        <li><%= f.check_box :general_liability_insurance %><%= f.label :general_liability_insurance, t("rfp.general_liability") %></li>
        <li><%= f.check_box :professional_liability_insurance %><%= f.label :professional_liability_insurance, t("rfp.professional_liability") %></li>
      </ul>
      </div>
    
      <table>
        <tr>
          <td>
            <%= f.label :duration, t("rfp.duration") %> <%= project_length_select(:rfp, :duration) %>
          </td>
          <td><%= f.label :hours_per_week, t('i_need_someone_who_can_work_roughly') %> <%= hours_per_week_select(:rfp, :hours_per_week) %></td>
        </tr>
      </table>
      
      <%= f.label :additional_services, t("rfp.additional_services") %> <%= f.text_area :additional_services %> <br />
    </fieldset>
  
    <fieldset class="terms">
      <ul>
        <li><%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, t('rfp.accept_terms_of_service')%></li>
      </ul>
    </fieldset>

    <%= recaptcha_tags %>

    <%= f.submit t('send'), :onClick=>"pageTracker._trackEvent('Request', 'Submit Request');", :class=>'callout' %>
  <% end -%>
</div>