<div class="panel"
  <h2><%= t('contact_a_developer') %></h2>

  <p><%= t('contact_a_developer_introduction') %></p>

  <% form_for setup_rfp(@rfp) do |f| -%>
  
      
        <%- @providers.each do |provider| -%>
        <div class="currentDev">
          <%- if provider.logo_file_name.not.blank? -%>
            <%= image_tag(provider.logo.url(:thumb), :class=>'avatar') %>
          <%- else -%>
            <img src="/images/profile-default.png" class='avatar' />
          <%- end -%>
          
          <%= hidden_field_tag "rfp[provider_ids][]", provider.id %>
          <h4><%= provider.company_name %></h4>
          <p><%= provider.private_address.join(", ") %></p>
        </div>
        <%- end -%>
      
  
    <%= f.error_messages %>
    
    <fieldset>
      <h3><%= t('rfp.about_you') %></h3>
      <table>
        <tr>
          <td><%= f.label :first_name, t("rfp.first_name") %> <%= f.text_field :first_name %></td>
          <td><%= f.label :last_name, t("rfp.last_name") %> <%= f.text_field :last_name %></td>
        </tr>
      </table>
      <%= f.label :company_name, t("rfp.company_name") %> <%= f.text_field :company_name %> <br />    
      <%= f.label :email, t("rfp.email") %> <%= f.text_field :email %> <br />
      <%= f.label :phone_number, t("rfp.phone_number") %> <%= f.text_field :phone_number %> <br />
      <%= f.label :office_location, t("rfp.office_location") %> <%= f.text_field :office_location %> <br />
      <%= f.label :postal_code, t("rfp.postal_code") %> <%= f.text_field :postal_code %> <br />
      <%= f.label :time_zone, t("rfp.time_zone") %> <%= f.time_zone_select :time_zone %> <br />

    </fieldset>
    <fieldset>
    <h3><%= t('rfp.about_your_project') %></h3>

      <%= f.label :project_name, t("rfp.project_name") %> <%= f.text_field :project_name %> <br />
      <%= f.label :budget, t("rfp.budget") %> <%= f.select :budget, Rfp.options_for_budget %> <br />
    
      <%= f.label :start_date, t("rfp.start_date") %> <%= f.text_field :start_date, :class => "date" %> <br />
      <%= f.label :duration, t("rfp.duration") %> <%= f.text_field :duration %> <br />
    
      <label><%= t('rfp.services') %></label>
      <ul>
        <%- f.fields_for :requested_services do |rf| -%>
          <li>
            <%- if rf.object.checked -%>
              <%= image_tag '/images/icon-check.png', :class=>"check"%>
              <!-- <%= check_box_tag "dummy-#{dom_id(rf.object)}", 0, true, :disabled => true %> -->
              <%= label_tag "dummy-#{dom_id(rf.object)}", rf.object.name %>
            <%- else -%>
              <%= rf.check_box :add %>
              <%= rf.label :add, rf.object.name %>
              <%= rf.hidden_field :name %>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
  
      <br />
      <label><%= t('rfp.insurance_requirements_headline') %></label>
      <p><%= t('rfp.insurance_requirements_description') %></p>
      <ul>
        <li><%= f.check_box :general_liability_insurance %><%= f.label :general_liability_insurance, t("rfp.general_liability") %></li>
        <li><%= f.check_box :professional_liability_insurance %><%= f.label :professional_liability_insurance, t("rfp.professional_liability") %></li>
      </ul>
      
      <br />
      
      <%= f.label :additional_services, t("rfp.additional_services") %> <%= f.text_area :additional_services %> <br />
    </fieldset>
  
    <fieldset class="terms">
      <ul>
        <li><%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, t('rfp.accept_terms_of_service')%></li>
      </ul>
    </fieldset>

    <%= recaptcha_tags %>

    <%= f.submit t('send'), :onClick=>"pageTracker._trackEvent('Request', 'Submit Request');", :class=>'callout' %>
  <% end -%>
</div>