<h2><%= t('rfp.new_rfp_headline') %></h2>

<p class="description"><%= t('rfp.new_rfp_description') %></p>

<p class="description note"><%= t('rfp.disclaimer') %></p>

<div class="narrow box">

  <% form_for setup_rfp(@rfp) do |f| -%>
  
    <%= f.error_messages %>
  
    <h3><%= t('rfp.about_you') %></h3>

      <%= f.label :first_name, t("rfp.first_name") %> <%= f.text_field :first_name %> <br />
      <%= f.label :last_name, t("rfp.last_name") %> <%= f.text_field :last_name %> <br />
      <%= f.label :company_name, t("rfp.company_name") %> <%= f.text_field :company_name %> <br />    
      <%= f.label :email, t("rfp.email") %> <%= f.text_field :email %> <br />
      <%= f.label :phone_number, t("rfp.phone_number") %> <%= f.text_field :phone_number %> <br />
      <%= f.label :office_location, t("rfp.office_location") %> <%= f.text_field :office_location %> <br />
      <%= f.label :postal_code, t("rfp.postal_code") %> <%= f.text_field :postal_code %> <br />
      <%= f.label :time_zone, t("rfp.time_zone") %> <%= f.time_zone_select :time_zone %> <br />

  
    <h3><%= t('rfp.about_your_project') %></h3>

      <%= f.label :project_name, t("rfp.project_name") %> <%= f.text_field :project_name %> <br />
      <%= f.label :budget, t("rfp.budget") %> <%= f.select :budget, Rfp.options_for_budget %> <br />
    
      <%= f.label :start_date, t("rfp.start_date") %> <%= f.text_field :start_date, :class => "date" %> <br />
      <%= f.label :duration, t("rfp.duration") %> <%= f.text_field :duration %> <br />
    
      <label><%= t('rfp.services') %></label>
      <ul>
        <%- f.fields_for :requested_services do |rf| -%>
          <li>
            <%- if rf.object.checked -%>
              <%= image_tag '/images/icon-check.png', :class=>"check"%>
              <!-- <%= check_box_tag "dummy-#{dom_id(rf.object)}", 0, true, :disabled => true %> -->
              <%= label_tag "dummy-#{dom_id(rf.object)}", rf.object.name %>
            <%- else -%>
              <%= rf.check_box :add %>
              <%= rf.label :add, rf.object.name %>
              <%= rf.hidden_field :name %>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
  
      <br />
      <label><%= t('rfp.insurance_requirements_headline') %></label>
      <p><%= t('rfp.insurance_requirements_description') %></p>
      <ul>
        <li><%= f.check_box :general_liability_insurance %><%= f.label :general_liability_insurance, t("rfp.general_liability") %></li>
        <li><%= f.check_box :professional_liability_insurance %><%= f.label :professional_liability_insurance, t("rfp.professional_liability") %></li>
      </ul>
  
    <h3><%= t('rfp.choose_providers') %></h3>
      <ul>
      <%- @providers.each do |provider| -%>
        <li><%= hidden_field_tag "rfp[provider_ids][]", provider.id %><%= link_to provider.company_name, provider %></li>
      <%- end -%>
      </ul>
  
    <fieldset>  
      <%= f.label :additional_services, t("rfp.additional_services") %> <%= f.text_area :additional_services %> <br />
    </fieldset>
  
    <fieldset>
      <ul>
        <li><%= f.check_box :terms_of_service %> <%= f.label :terms_of_service, t('rfp.accept_terms_of_service')%></li>
      </ul>
    </fieldset>

    <%= recaptcha_tags %>

    <%= f.submit t('rfp.submit'), :onClick=>"pageTracker._trackEvent('Request', 'Submit Request');", :class=>'callout' %>
  <% end -%>
</div>