<div class="panel">
  <div class="pageHead">
    <h2><%= t('quiz_result') %></h2>
  </div>

  <%= render 'my/quizzes/details' %>

  <h3><%= t('your_score') %></h3>

  <div class="score"><strong><%= @sitting.score %></strong> / <%= @quiz.questions.size %>
</div>