<div class="panel">

  <div class="pageHead">
    <h2><%= t('quiz_result') %></h2>
  </div>

  <div class="narrow">
    <%= render 'my/quizzes/details' %>
  </div>
  
  <div class="sidebar">
    <h3><%= t('your_score') %></h3>

    <%- if @sitting.responses.empty? -%>
      <p><%= t('out_of_time') %></p>
    <%- else -%>
      <div class="score widget"><%= @sitting.score %>/<%= @quiz.questions.size %> <%= t('correct') %></div>
    <%- end -%>
    
    <div class="aligncenter"><%= link_to t('take_another_quiz'), my_quizzes_path, :class=>"button" %></div>
  </div>
  
  <div class="clear"></div>
</div>