<div class="panel">
  <div class="pageHead">
    <h2><%= t('quiz_result') %></h2>
  </div>

  <%= render 'my/quizzes/details' %>

  <h3><%= t('your_score') %></h3>
  
  <%- if @sitting.responses.empty? -%>
    <p><%= t('out_of_time') %></p>
  <%- else -%>
    <div class="score"><strong><%= @sitting.score %></strong> / <%= @quiz.questions.size %>
  <%- end -%>
</div>