<h2><%= t('navigation.top_cities') %></h2>

<ul>
  <li><%= link_to t('top_city.add_new'), new_admin_top_city_path %></li>
  <li><%= link_to t('general.sort_list'), sort_admin_top_cities_path, :class => 'sort' %></li>
</ul>

<ul class="sortable">
  <%- @top_cities.each do |top_city| -%>
    <li id="<%= dom_id(top_city) %>"><%= top_city.city %>, <%= t("countries.#{top_city.country}") %></li>
  <%- end -%>
</ul>

<%- if @top_cities.empty? -%>
  <p><%= t('top_city.no_cities') %></p>
<%- else -%>
  <table class="sorted">
    <tr>
      <th><%= t('top_city.city') %></th>
      <th>&nbsp;</th>
    </tr>
    <tbody class="sorted-list">
    <%= render :partial => 'top_city', :collection => @top_cities %>
    </tbody>

  </table>
<%- end -%>