<h2><%= t('user.change_password_for', :user => @user.full_name)%></h2>

<% form_for [:admin, @user] do |f| -%>
  
  <%= f.error_messages %>

  <fieldset>
    <%= f.label :password, t("user.password") %> <%= f.password_field :password %>
  </fieldset>

  <%= f.submit t('forms.save') %> <%= t('forms.or') %> <%= link_to t('forms.cancel'), admin_path %>
<% end -%>