<%- if @quiz_result_answer -%>

  <h3><%= @quiz_result_answer.quiz_result.quiz.name %></h3>

  <p><%= @quiz_result_answer.question.text %></p>

  <%- form_for [:my, @quiz_result_answer] do |f| -%>
    <%= f.hidden_field :quiz_result_id %>
    <%= f.hidden_field :question_id %>

    <%= f.error_messages %>

    <%- @quiz_result_answer.question.answers.each do |answer| -%>
      <%= f.radio_button :answer_id, answer.id %>
      <%= f.label "answer_id_#{answer.id}", answer.text %> <br/>
    <%- end -%>
  
    <%= f.submit t('quiz_result.next') %>
  <%- end -%>

<%- else -%>
  <p><%= t('quiz.no_questions') %></p>
<%- end -%>