<% if @provider %>
  
  <div class="almost-there <%- ' popup' if @provider.aasm_state != 'active' -%>">
    <div class="content">
      <h2><%= t('almost_there') %></h2>
      <p><%= t('just_a_few_more_things') %></p>
    
      <ol>
        <li><%= link_to t('set_your_hourly_rate'), edit_my_provider_path %></li>
        <li><%= link_to t('set_your_availability'), my_availability_path %></li>
        <li><%= link_to t('take_the_basic_rails_quiz'), my_quizzes_path %></li>
      </ol>
    </div>
  </div>

  <div class="dashboard">  
    
    <div class="pageHead">
      <h2><%= t('navigation.dashboard') %></h2>
      <h2 class="status"><%= t('your_profile_is_x_complete', :score => current_user.provider.percent_complete.to_i) %></h2>
      <%= link_to t('edit_your_profile'), edit_my_provider_path, :class=>"button" %>
    </div>
    
    <div>
      <h3><%= t('dashboard.rfps') %></h3>
    
      <ul class="utility">
        <li><%= link_to t('dashboard.all_rfps'), my_requests_path %></li>
      </ul>
    
      <%- if @provider.requests.recent.empty? -%>
        <p><%= t('provider.no_rfps') %></p>
      <%- else -%>
        <table class="requests">
          <thead>
            <tr>
              <th><%= t('rfp.submitted_by') %></th>
              <th><%= t('start') %></th>
              <th><%= t('hours') %></th>
              <th><%= t('length') %></th>
              <th><%= t('rfp.submitted_on') %></th>
            </tr>
          </thead>
          <tbody>
            <% @provider.requests.recent.each do |req| %>
              <tr class="<%= req.unread? ? 'unread' : nil %> <%= cycle('odd', 'even') %>">
                <td><%= link_to req.rfp.company_name, [:my, req] %></td>
                <td></td>
                <td></td>
                <td></td>
                <td><%= req.rfp.created_at_formatted %></td>
              </tr>
            <%- end -%>
          </tbody>
        </table>
      <%- end -%>
    </div>

    <div>
      <h3><%= t('dashboard.endorsements') %></h3>
    
      <ul class="utility">
        <li><%= link_to t('dashboard.all_endorsements'), my_endorsements_path %></li>
      </ul>
    
      <p><%= link_to t('provider.request_endorsement'), new_my_endorsement_request_path %></p>
      <%- if @provider.endorsements.recent.empty? -%>
        <p><%= t('provider.no_endorsements')%></p>
      <%- else -%>
        <table class="endorsements">
          <thead>
            <tr>
              <th><%= t('endorsement.admin.name') %></th>
              <th><%= t('endorsement.admin.email') %></th>
              <th><%= t('endorsement.admin.year_hired') %></th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @provider.endorsements.recent.each do |rec| %>
            <tr>
              <td><%= link_to h(rec.name), [:my, rec] %></td>
              <td><%= mail_to h(rec.email) %></td>
              <td><%= h(rec.year_hired) %></td>
              <td><%= h(rec.state) %></td>
            </tr>
            <%- end -%>
          </tbody>
        </table>
      <%- end -%>
    </div>
    
    <div>
      <h3><%= t('activity') %></h3>
      <ul>
        <li> <%= t('your_profile_has_been_viewed_x_times', :count => @provider.views || 0) %></li>
      </ul>
    </div>
  </div>
<%- end -%>