<h3><%= t('quiz_details') %></h3>

<dl class="details">
  <dt><%= t('name') %>:</dt>
  <dd><%= @quiz.name %></dd>
  <br />
  <dt><%= t('skill_level') %>:</dt>
  <dd><%= @quiz.skill_level %></dd>
  <br />
  <dt><%= t('time_limit') %>:</dt>
  <dd><%= @quiz.time_limit %> <%= t('minutes') %></dd>
</dl>