<div class="panel">
  <div class="pageHead">
    <h2><%= t('quizzes') %></h2>
  </div>
  
  <form class="hidden">
    <fieldset>
      <label>Skill Level</label>
      <select>
        <option>All</option>
      </select>
    </fieldset>
  </form>
  
  <%- if @quizzes.empty? -%>
    <p><%= t('no_quizzes') %></p>
  <%- else -%>
    <table>
      <thead>
        <tr>
          <th><%= t('quiz_name') %></th>
          <th><%= t('skill_level') %></th>
          <th><%= t('time_limit') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <%- @quizzes.each do |quiz| -%>
        <tr>
          <td><%= quiz.name %></td>
          <td><%= t("#{quiz.skill_level}") %></td>
          <td><%= t('n_minutes', :count => quiz.time_limit) %></td>
          <td class="right">
            <%- if current_user.provider.quiz_results.find_by_quiz_id(quiz.id) -%>
              <%= t('your_score') %>: <%= current_user.provider.quiz_results.find_by_quiz_id(quiz.id).score %> / <%= quiz.questions_per_quiz %>
              <%- if current_user.provider.quiz_results.find_by_quiz_id(quiz.id).score < quiz.questions.count  -%>
                <%- if current_user.provider.sittings.count(:conditions => {:quiz_id => quiz.id}) >= quiz.attempts -%>
                  <%= t('cannot_retake') %>
                <%- else -%>
                  <%= link_to t('retake_quiz'), new_my_quiz_sitting_path(quiz) %>
                <%- end -%>
              <%- end -%>
            <%- else -%>
              <%= link_to t('take_this_quiz'), new_my_quiz_sitting_path(quiz) %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
      </tbody>
    </table>
  <%- end -%>

</div>