<div class="panel">
  <div class="pageHead">
    <h2><%= t('quiz_result') %></h2>
  </div>

  <%= render 'details' %>

  <h3><%= t('your_score') %></h3>

  <div class="score"><strong><%= @quiz.correct_responses_for(current_user.provider) %></strong> / <%= @quiz.questions.size %>
</div>